:root {
    --gray800: #343a40;
}

.pageWrapper {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px
}

.contentWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contentWrapper2 {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    padding-left: 0;
}

.contentWrapper2 .formGroup {
    margin-left: 35px;
}

.contentWrapper2 .formGroup, input, select {
    width: 90%;
}

.PageTitle {
    padding: 10px 0 0 10px;
    width: 100%;
    text-align: left;
}

.alert-danger {
    width: 350px;
}

h1, h2, h3, h4 {
    color: black;
}

nav, .navbar {
    height: 100vh;
    width: 250px;
    min-width: 250px;
    background: var(--gray800);
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
}

nav hr {
    width: 100%;
    color: #cccdd1; !important;
}

nav h1, h2, h3, h4 {
    color: white;
    text-align: left;
    width: 90%;
}

nav ul, li, a {
    color: white; !important;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    height: 40px;
    transition: 0.2s;
    color: white; !important;
    padding-left: 25px;
}

.nav-link:hover {
    transition: 0.2s;
    color: white; !important;
    background: black;
    padding-left: 25px;
}

nav .nav-title {
    margin-top: 15px;
    margin-left: 8px;
    text-align: center;
}

.contentWrapper2 h2, h3 {
    color: black;
}

a {
    color: black;
}

.container {
    max-width: 100%; !important;
    margin: 0 0; !important;
    padding-right: 0 !important;
}

.columnPad {
    margin: 0 0 !important;
    padding-right: 0 !important;
}

.explainRow .row {
    height: 40px; !important;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.row {
    width: 100%;
    height: 50px;
    flex-wrap: nowrap;
}

.row .col {
    border: 1px solid black;
    text-align: left;
    height: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
    border: 1px solid black;
    text-align: left;
    height: 100%;
}

.buttonsContainerAccounts {
    width: 95%;
    gap: 5px;
}

.AccountsSearchContainer {
    margin-top: 20px;
    width: 95%;
    min-height: 160px;
    background: var(--gray800);
    padding: 4px;
}

.AccountsSearchContainer input {
    width: 350px;
}

.AccountsResultsContainer {
    margin-top: 10px;
    width: 95%;
    height: 100%;
    overflow-y: auto;
}

.hide{
    display: none;
}