@font-face {
    font-family: FuturaDemi;
    src: url('fonts/FuturaCyrillicDemi.ttf');
}

@font-face {
    font-family: FuturaBold;
    src: url('fonts/FuturaT_Bold.ttf');
}

@font-face {
    font-family: Diggity;
    src: url('fonts/Diggity.ttf');
}