:root {
    font-family: FuturaDemi, Arial, sans-serif;
    --mainBlue: #1b4496;
    --secondBlue: #102657;
    --mainYellow: #f8b21f;
    --mainRed: #f44336;
    --secondWhite: #cccdd1;
    --defaultFont: FuturaDemi, Arial, sans-serif;
    --defaultBorderRadius: 8px;
}

*{
    font-weight: normal;
}

body {
    margin: 0;
    overflow-x: hidden;
    /*
    background-image: url("Atrium_PC_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.pageContent {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

a {
    text-decoration: none;
}

nav img {
    width: 35px;
}

nav {
    background-color: var(--mainBlue);
    padding: 18px;
    width: inherit;
    height: 45px;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
}

.TitleText {
    margin: 0;
    font-size: 40px;
    text-wrap: nowrap;
    color: var(--mainYellow);
}

nav img {
    height: 110%;
}

.navButtonContatiner {
    height: 100%;
    display: flex;
    gap: 5px;
}

.navButtonContatiner button {
    width: fit-content;
    height: 100%;
    font-size: 23px;
    padding: 0 15px;
}

nav .verticalContainer {
    height: 100%;
    gap: 10px;
}

.navBarRightContainer {
    height: 100%;
    margin-left: auto;
}

button {
    transition: 0.2s;
    font-family: var(--defaultFont);
    color: black;
    background-color: var(--mainYellow);
    border-radius: var(--defaultBorderRadius);
    text-wrap: nowrap;
    margin: 0;
}

button:hover {
    transition: 0.2s;
    color: white;
    background-color: var(--secondBlue);
    cursor: pointer;
}

input {
    font-family: var(--defaultFont);
    border-radius: var(--defaultBorderRadius);
    padding: 4px;
    border: 3px var(--secondBlue) solid;
}

img {
    height: 100%;
}

.verticalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.horizontalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.textAlign {
    text-align: center;
}

.centerSection {
    background-color: var(--secondWhite);
    width: 100vw;
    height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mainBlue {
    background-color: var(--mainBlue);
}

.mainYellow {
    background-color: var(--mainYellow);
}

.white {
    background-color: white;
}

.mainBlueText {
    color: var(--mainBlue);
}

.mainYellowText {
    color: var(--mainYellow);
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formGroup label {
    font-size: 18px;
}

.formGroup input {
    font-size: 20px;
    padding: 12px 8px;
}

.formGroup button {
    font-size: 20px;
    padding: 10px 8px;
}

.formGroup .LoginFailedText {
    width: 100%;
    text-align: center;
    color: red;
}

.errorLoginMessage {
    padding: 12px;
    background-color: #f3bcbc;
    border: 3px solid red;
    border-radius: var(--defaultBorderRadius);
    min-width: 300px;
    min-height: 80px;
}

.errorLoginMessage h2 {
    font-size: 25px;
}
.errorLoginMessage p {
    margin-top: 8px;
    width: 90%;
}

.imgSection img {
    height: 360px;
    border-radius: var(--defaultBorderRadius);
}

.infoSection h2 {
    color: var(--mainBlue);
    font-size: 48px;
    text-wrap: nowrap;
}

.mainBlueSection h2 {
    color: var(--mainYellow);
}

.mainBlueSection h3 {
    color: white;
}

.infoSection h3 {
    font-size: 18px;
    width: 580px;
}

.infoSections {
    margin-top: 10px;
    display: grid;
    gap: 0px;
}