<!DOCTYPE html>
<html>
<head>
    <%- include('shared/head') %>
</head>
<body>
    <div class="pageWrapper">
        <%- include('shared/navbar') %>

        <div class="contentWrapper">
            <h1 class="PageTitle">Accounts</h1>
            <div class="d-flex flex-row buttonsContainerAccounts">
                <a href="/admin/accounts/create">
                    <button class="btn btn-primary">Create Account</button>
                </a>
                <a href="/admin/accounts/delete">
                    <button class="btn btn-danger">Delete Account</button>
                </a>
            </div>
            <div class="AccountsSearchContainer">
                <input id="UsernameInput" placeholder="Username">
                <input id="UserIdInput" placeholder="Account Id">
                <br>
                <button id="SearchByUsernameBtn" class="btn btn-primary btn-sm">Search By Username</button>
                <button id="GetByUserIdBtn" class="btn btn-primary btn-sm">Get By User Id</button>
            </div>

            <div class="AccountsResultsContainer">

                <div class="container text-center">
                    <div class="row align-items-start columnPad explainRow">
                        <div class="row">
                            <div class="col-2">
                                id
                            </div>
                            <div class="col">
                                Username/DisplayName
                            </div>
                            <div class="col-1">
                                isJunior
                            </div>
                            <div class="col-2">
                                CreationDate
                            </div>
                        </div>
                    </div>
                </div>

                <template id="UserInfoTemplate">
                    <div class="row align-items-start columnPad">
                        <div class="row">
                            <div class="col-2">
                                <a id="userId">
                                    692289674f6b52b4255c1f30
                                </a>
                            </div>
                            <div class="col" id="userName">
                                Username12356/DisplayName3234235
                            </div>
                            <div class="col-1" id="userIsJunior">
                                false
                            </div>
                            <div class="col-2" id="userCreationDate">
                                12/26/2025, 11:16:00 PM
                            </div>
                        </div>
                    </div>
                </template>

                <!-- Searching for users will go inside of here -->
                <div class="container text-center" id="UsersResults">
                </div>

            </div>
        </div>
    </div>

    <script type="module" src="/cdn/js/admin/accounts/accountsHome.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>