<!DOCTYPE html>
<html>
    <head>
        <%- include('shared/head') %>
        <style>
            .alignToPage {
                margin-top: 50px;
                width: 100vw;
            }
        </style>
    </head>
    <body>

    <div class="alignToPage">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex flex-column justify-content-center">
                <h1 class="text-center fs-1">Atrium</h1>
                <hr style="width: 450px;">
            </div>

            <%- include('shared/errorMessage') %>

            <form action="/api/admin/auth/v1/login" method="post" class="formGroup" style="margin-top: 10px; width: 500px">

                <h3 id="LoginFailedText" class="LoginFailedText"></h3>
                <div class="mb-3">
                    <label class="form-label" autofocus>Username</label>
                    <input class="form-control" name="username" placeholder="Username" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>

                <div class="mb-3" style="display: none;">
                    <label class="form-label">Callback</label>
                    <input class="form-control" name="callback" placeholder="Callback URL" value="/admin/initSettings" required>
                </div>

                <button class="btn btn-primary" type="submit">Login</button>
            </form>
        </div>
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>