<nav>
    <div class="verticalContainer">
        <a href="/" class="horizontalContainer">
            <h1 class="TitleText">Atrium</h1>
            <img style="margin-left: 10px;" src="/cdn/img/Atrium_Logo_Yellow.png" alt="AtriumLogo">
        </a>
    </div>
    <div class="navBarRightContainer">
        <div class="navButtonContatiner">
            <a href="/">
                <button>Home</button>
            </a>
            <a href="/login">
                <button style="">Login</button>
            </a>
            <a href="/download" style="display: none;">
                <button>Download</button>
            </a>
            <a href="/devlogs" style="display: none;">
                <button>Dev Logs</button>
            </a>
        </div>
    </div>
</nav>