<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/cdn/css/style.css">
    <link rel="stylesheet" href="/cdn/css/fonts.css">
    <title>Atrium</title>
</head>
<body>
    <%- include('shared/navbar') %>

    <div class="pageContent">
        <div class="infoSections">

            <div class="centerSection white" style="height: 80vh">
                <div class="infoSection">
                    <h3 class="textAlign">The Virtual Reality Sports Resort</h3>
                    <br>
                    <h1 class="textAlign mainBlueText" style="font-size: 80px;">
                        Atrium
                    </h1>
                </div>
            </div>

            <div class="centerSection" style="background: linear-gradient(0deg, var(--mainBlue), #ffffff)">

                <div class="imgSection">
                    <img src="/cdn/img/VideoPlayerr.png" alt="Atrium image...">
                </div>

                <div class="infoSection">
                    <h2>What is Atrium?</h2>
                    <h3>
                        <ul>
                            <li>
                                Atrium is a Virtual Reality Social Space which is based around a College Campus that has been renovated to be a Sports Resort.
                            </li>
                            <br>
                            <li>
                                Atrium revolves around all types of competitive and coop activities like Tennis, Boxing, Baseball, Karting and more!
                            </li>
                            <br>
                            <li>
                                Hangout with familiar faces, or meet new ones!
                            </li>
                            <br>
                            <li>
                                Customize your avatar or go play some activity's with friends!!
                            </li>
                            <br>
                        </ul>
                    </h3>
                </div>

            </div>

            <div class="centerSection mainBlue">

                <div class="infoSection mainBlueSection">
                    <h2>Who is Atrium?</h2>
                    <h3>
                        Atrium is a VR game with tennis!
                    </h3>
                </div>

                <div class="imgSection">
                    <img src="/cdn/img/HighDef.png">
                </div>

            </div>

            <div class="centerSection">

                <div class="imgSection">
                    <img src="/cdn/img/AtriumIsFOOD.png" alt="PeopleHavingFunImage">
                </div>

                <div class="infoSection">
                    <h2>Is Atrium Edible??</h2>
                    <h3>
                        Well actually.. yes! It is edible! You will be able to eat ALL the Atrium you like!
                        <br>
                        You will be able to buy AtriumSnack™️ at your local homeless guy!!!!
                    </h3>
                </div>

            </div>

            <div class="centerSection">

                <div class="infoSection">
                    <h2>Why is Atrium?</h2>
                    <h3>
                        Uh uh uh idk what an atrium is lol
                    </h3>
                </div>

                <div class="imgSection">
                    <img src="https://d1tm14lrsghf7q.cloudfront.net/public/media/779/conversions/58711_00tile_atrium_workspaces_foster_and_partners_1-cover.jpg" alt="PeopleHavingFunImage">
                </div>

            </div>

        </div>
    </div>
</body>
</html>